/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background: linear-gradient(90deg, #ffaf6d, #ffcc80);
    color: #7d080c;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navLinks {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
}

.navLinks a {
    text-decoration: none;
    color: #8d0707;
    font-weight: 500;
    transition: color 0.3s;
}

.navLinks a:hover {
    color: #540101;
}


/* Hero Section */
.heroSection {
    height: 60vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    background-color: rgba(20, 55, 20, 34%);
    /* dark green transparent overlay */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.titleBox {
    background-color: rgba(128, 0, 0, 0.7);
    padding: 15px 40px;
    border-radius: 10px;
}

.title {
    color: #f8f3e1;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.subtext {
    color: #f5deb3;
    margin-top: 15px;
    font-size: 1.1rem;
}


/* Table Section  */
.scheduleSection {
    background-color: #f8f3e1;
    padding: 60px 20px;
    text-align: center;
}

.sectionTitle {
    color: #800000;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.sectionDesc {
    color: #333;
    font-size: 1.1rem;
    max-width: 700px;
    margin: 0 auto 40px auto;
    line-height: 1.6;
}

.scheduleTable {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
}

.scheduleTable th {
    background-color: #064f1a;
    color: #f8f3e1;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.scheduleTable td {
    padding: 15px 20px;
    color: #333;
    border-bottom: 1px solid #e0d9b8;
    text-align: left;
}

.scheduleTable tr:last-child td {
    border-bottom: none;
}

.scheduleTable tr:hover {
    background-color: #f1e8c7;
    transition: 0.3s ease;
} 


/* Book Tickets Section  */
.bookTicketSection {
    background-color: #800000;
    color: #f8f3e1;
    padding: 50px 20px;
    text-align: center;
    padding-bottom: 70px;
}

.bookTicketContainer {
    max-width: 700px;
    margin: 0 auto;
}

.bookTicketContainer h2 {
    font-size: 2.3rem;
    color: #ffe7b3;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.1rem;
    color: #ffffff;
    margin-bottom: 30px;
}

.openBtn {
    background-color: #0a3d2e;
    color: #f8f3e1;
    border: none;
    padding: 14px 28px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.openBtn:hover {
    background-color: #0d533e;
    transform: scale(1.03);
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: #407e14de;
    color: #333;
    padding: 30px 40px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
}

.modalContent h3 {
    text-align: center;
    color: #800000;
    margin-bottom: 20px;
    font-size: x-large;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.3rem;
    color: #800000;
    cursor: pointer;
    font-weight: bold;
}

.bookingForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.bookingForm label {
    font-weight: 600;
    color: #fff8e1;
}

.bookingForm input,
.bookingForm select {
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 0.95rem;
}

.bookingForm button {
    background-color: #800000;
    color: #fff9f0;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.bookingForm button:hover {
    background-color: #a32020;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}


/* Prasadam Section */
.prasadamSection {
    background-color: #fff8f0;
    text-align: center;
    padding: 40px 20px;
}

.heading {
    color: #0b3d0b;
    font-size: 2rem;
    margin-bottom: 10px;
}

.subheading {
    color: #7a1f1f;
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 50px 0;
}

.imageContainer img {
    width: 260px;
    height: 220px;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imageContainer img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

.info {
    max-width: 700px;
    margin: 0 auto;
    color: #222;
    line-height: 1;
    font-size: 1.05rem;
    text-align: left;
}

.note {
    margin-top: 25px;
    font-style: italic;
    color: #333;
}



/* Footer Section */
.footer {
    background-color: #0b3d2e;
    color: white;
    padding: 40px 0 20px;
}

.footerContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}

.footerSection h3 {
    color: #f5deb3;
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.footerSection p,
.footerSection ul {
    font-size: 0.95rem;
    line-height: 1.6;
}

.footerSection ul {
    list-style: none;
    padding: 0;
}

.footerSection ul li {
    margin-bottom: 8px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
}

.footerSection ul li:hover {
    color: #f5deb3;
}

.footerBottom {
    text-align: center;
    border-top: 1px solid #f5deb3;
    margin-top: 40px;
    padding-top: 15px;
    font-size: 0.9rem;
    color: #ddd;
}




/* Tab Responsive */
@media (max-width: 600px) {
    .scheduleTable thead {
        display: none;
    }

    .scheduleTable,
    .scheduleTable tbody,
    .scheduleTable tr,
    .scheduleTable td {
        display: block;
        width: 100%;
    }

    .scheduleTable tr {
        margin-bottom: 15px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    }

    .scheduleTable td {
        padding: 10px 15px;
        text-align: right;
        position: relative;
    }

    .scheduleTable td::before {
        content: attr(data-label);
        position: absolute;
        left: 15px;
        width: 50%;
        text-align: left;
        font-weight: 600;
        color: #064f1a;
    }
}

/* Mobile Responsive */
@media (max-width: 480px) {
    .heroSection {
        height: 40vh;
    }

    .title {
        font-size: 1.6rem;
    }

    .subtext {
        font-size: 0.9rem;
        margin-top: 10px;
    }


    /*book Ticket */
    .bookTicketSection {
        padding: 2rem 1rem;
    }

    .bookTicketHeading {
        font-size: 1.5rem;
    }

    .bookTicketPara {
        font-size: 1rem;
        padding: 0 0.5rem;
    }

    .bookButton {
        font-size: 1rem;
        padding: 0.7rem 1.3rem;
        border-radius: 6px;
    }

    .modalContent {
        width: 90%;
        padding: 1.5rem;
    }

    .modalContent input,
    .modalContent select {
        width: 100%;
        font-size: 0.95rem;
    }

    .closeButton {
        font-size: 1.3rem;
    }

    /* table Section */
    


    /* Prasadam Section */
    .prasadamSection {
        padding: 40px 15px;
    }

    .heading {
        font-size: 1.6rem;
    }

    .subheading {
        font-size: 1rem;
    }

    .imageContainer {
        gap: 15px;
    }

    .imageContainer img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .info {
        font-size: 0.95rem;
    }
}